<main id="tiemporeal" class="container d-flex flex-wrap mt-5 justify-content-between">
   <div id="rowProducts" class="row d-flex d-flex justify-content-between">
    </div>
</main> 


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>